// Normalized
h1 {
  font-size: 106px;
}

h2 {
  font-size: 48px;
  margin-top: 56px;
  margin-bottom: 40px;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
}

h4 {
  text-transform: uppercase;
  font-family: "Work Sans";
  font-size: 16px;
}

p {
  font-size: 16px;
}

h5.reservation-status{
  text-transform: uppercase;
  color: orange;
}

.uppercase {
  text-transform: uppercase;
}
