// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// @font-face {
//   font-family: "GT Flexa";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "GT Flexa";

@font-face {
    font-family: 'GT Flexa Mono Beta v7';
    src: font-url('GTFlexaMonoBetav7-Regular.eot');
    src: font-url('GTFlexaMonoBetav7-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('GTFlexaMonoBetav7-Regular.woff2') format('woff2'),
        font-url('GTFlexaMonoBetav7-Regular.woff') format('woff'),
        font-url('GTFlexaMonoBetav7-Regular.ttf') format('truetype'),
        font-url('GTFlexaMonoBetav7-Regular.svg#GTFlexaMonoBetav7-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'GT Flexa Mono Beta v7';
//     src: url('GTFlexaMonoBetav7-Light.eot');
//     src: url('GTFlexaMonoBetav7-Light.eot?#iefix') format('embedded-opentype'),
//         url('GTFlexaMonoBetav7-Light.woff2') format('woff2'),
//         url('GTFlexaMonoBetav7-Light.woff') format('woff'),
//         url('GTFlexaMonoBetav7-Light.ttf') format('truetype'),
//         url('GTFlexaMonoBetav7-Light.svg#GTFlexaMonoBetav7-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "GT Flexa Mono Beta v7", "Helvetica", "sans-serif";
