.img-show {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.container-reservation {
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  // display: flex;
  // justify-content: space-between;
}

.table-reservation {
  display: flex;
  justify-content: space-between;
}
