<div class="banner">
  <div class="container">
    <h1>Tune It</h1>
    <p>Louer vos instruments de musique de particulier à particulier</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F9%2F9f%2FStainer.jpg&f=1&nofb=1" alt="">
        <h3>Nuova Alto Saxophone</h3>
        <p>Nantes | 16€/day</p>
      </div>
    </div>
  </div>
</div>
