<div class="banner">
  <div class="container">
    <!-- <div class="headline">Louer vos instruments</div> -->
    <h4>Louer vos instruments</h4>
    <p>Louer vos instruments de musique de particulier à particulier, pour débutants, amateurs et professionnels</p>
    <div class="button button-banner">Voir plus</div>
  </div>
</div>

<div class="container about">
  <h4>A propos</h4>

  <p>Nous avons conçu Tune It afin de permettre aux amateurs de musiques comme aux professionnels de louer un intrument de musique à un particulier.</p>
</div>

<div class="mt-0 pt-0 px-4">
  <hr>
  <div class="latest-headlines">
    <h4>Derniers instruments postés</h4>
    <h4><%= link_to "Voir la liste complète", instruments_path %><i class="fa fa-arrow"></i></h4>

  </div>
</div>

<div class="container mt-0 pt-0">
  <div class="row">
    <% @instruments.first(3).each do |instrument| %>
    <div class="col-sm-12 col-md-4">
      <%= link_to instrument_path(instrument) do %>
        <div class="card">
          <%= cl_image_tag instrument.photo.key, class: "card-img-top" %>
          <h3><%= instrument.name %></h3>
          <p>Nantes | 16€/day</p>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
