.container {
  padding: 32px;
}

.banner {
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('img-banner-homepage.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  p {
    font-size: 30px;
    max-width: 600px;
    margin: 0 auto;
  }
}
