.card-reservation {
    overflow: hidden;
    height: 160px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }
  
  .card-reservation img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-reservation h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-reservation p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-reservation .card-reservation-infos {
    padding: 16px;
  }
  
  .flex-container { 
    height:400px; 
    flex-flow: column wrap; 
    background-color: white; 
} 
  
.flex-container { 
    background-color: white; 
    width: 100px; 
    margin: 10px; 
    text-align: center; 
    line-height: 75px; 
    font-size: 30px; 
} 

.cards-owner-reservations{
    margin: 16px;
}

.card-reservation .btn-reservations {
    text-align: end;
}

.btn-accept {
    background-color: $off-black;
    color: white;

    &:hover {
        color:$secondary;
    }
}

.btn-decline{
    color: black;
    &:hover {
        color:$secondary;
    } 
}
