footer {
  height: 100px;
  padding: 1rem;
  padding-top: 0;
}

// For shorter pages, footer needs to stick to the bottom
.flex-wrapper {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
