footer {
  // color: ;
  height: 100px;
  // display: flex;
  // align-items: center;
  padding: 1rem;
}

// For shorter pages, footer needs to stick to the bottom
.flex-wrapper {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
