// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "config/font_settings";

@import "flatpickr/dist/flatpickr";


// Normalize

.flex-wrapper h2 {
	margin-top: 114px;
}

.cancel {
	color: black;
	font-size: 12px;

	&:hover {
		color: black;
		text-decoration: underline;
	}
}

.title-renter-resevations {
	margin-bottom: 80px;
}

.green {
	color: green !important;
}

.red {
	color: red !important;
}

.small-screens {
  display: none;
}

@media screen and (max-width: 684px) {
  .small-screens {
    background-color: $secondary;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    height: 100vh;
    min-height: 100vh;
    padding: 32px;
    // width: 100vw;
  }
  .flex-wrapper {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 820px;
  }
}
