<div class="container">
  <h2>Consulter la liste d’instruments à louer</h2>

  <div class="row">
  <% @instruments.each do |instrument| %>
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <%= cl_image_tag instrument.photo.key %>
        <h3><%= instrument.name %></h3>
        <p>Nantes | 16€/day</p>
      </div>
    </div>
  <% end %>



    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F9%2F9f%2FStainer.jpg&f=1&nofb=1" alt="">
        <h3>Nuova Alto Saxophone</h3>
        <p>Nantes | 16€/day</p>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F9%2F9f%2FStainer.jpg&f=1&nofb=1" alt="">
        <h3>Nuova Alto Saxophone</h3>
        <p>Nantes | 16€/day</p>
      </div>
    </div>
  </div>
</div>

