<div class="container-instruments-index m-5">
  <h2>Consulter la liste<br/>d’instruments à louer</h2>
  <div class="card-columns">
    <% @instruments.each do |instrument| %>
      <div class="card">
        <%= cl_image_tag instrument.photo.key, class: "card-img-top"%>
        <div class="card-body">
          <h3  class="card-title"><%= instrument.name %></h3>
          <p class="card-text"><%= instrument.owner.address %> | <%= instrument.price_per_day %>€/jour</p>
        </div>
      </div>
    <% end %>
  </div>
</div>


